################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RomitProj/v16/Server/sqlite3
/.vs/RomitProj/v16/.suo
